@model ContentPageViewModel
@{
    ViewData["Title"] = "Coming Soon";
}

<!-- Start Breadcrumb
============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-center text-light" style="background-image: url(img/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Coming Soon</h1>
                <ul class="breadcrumb">
                    <li><a href="~/"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Coming Soon</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Contact Info
   ============================================= -->
<div class="error-page-area default-padding">
    <div class="container">
        <div class="error-items">
            <div class="row">
                <div class="col-md-6">
                    <div class="thumb">
                        <img src="~/img/coming-soon.jpg" alt="Thumb">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="error-box">
                        <h2>Coming Soon!</h2>
                        <p>
                            page is under construction currently new services will be provided soon within coming days ,Thanks for understanding .
                        </p>
                        <a class="btn btn-dark border btn-md" href="~/index">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Info -->
<!-- Start Newsletter
============================================= -->
<!-- End Newsletter -->